*.class
*.log

# Ensime specific
.ensime_cache
.ensime

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# mill
out/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea
.idea_modules
.metals
.coursier
.bloop
.vscode
.bsp

credentials.*

.DS_Store

#vim specific
*.swp
*.swn
*.swo

#dev specific (swagger experiments)
extractors/
venv

akka/akka.iml
akka/test/test2.iml
core/core.iml
core/test/test.iml
mill
