name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  compile-all:
    runs-on: ubuntu-latest

    env:
      MILL_JVM_OPTS: "-Xss16m -Xmx4g"

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Check code format
        uses: jrouly/scalafmt-native-action@v1
        with:
          version: "3.8.3"
          arguments: "-c .scalafmt.conf --test core akka examples"
      - name: Compile
        run: ./mill '_._[_].compile'
      - name: Test
        run: ./mill '_._[_].test'
