name: Publish snapshot

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  compile-all:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - uses: jodersky/setup-mill@v0.3.0
        with:
          mill-version: 0.12.2
      - name: Import GPG key
        id: import_gpg
        uses: crazy-max/ghaction-import-gpg@v3
        with:
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
      - name: Set version
        run: sed -i "s/publishVersion = \"\(.*\)\"/publishVersion = \"\1-$(echo ${GITHUB_SHA} | cut -c1-8)-SNAPSHOT\"/g" build.sc
      - name: Publish
        shell: bash
        env:
          USERNAME: ${{ secrets.OSS_USERNAME }}
          PASSWORD: ${{ secrets.OSS_PASSWORD }}
        run: |
          mill mill.scalalib.PublishModule/ --publishArtifacts __.publishArtifacts --sonatypeCreds "$USERNAME:$PASSWORD"
